<h1>Home#index</h1>
<a>当前用户: </a>  <%= current_user.name %>

<p>Find me in app/views/home/index.html.erb</p>
<% if current_user.admin? %>
  <%= link_to "Lists", lists_path %>
<%-# elsif current_user.client?  -%>
<% else %>
  <%= link_to "Client", clients_path %>
<% end %>

</br>

<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3281386516&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:3281386516:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>

